[submodule "fuc"]
	path = fuc
	url = https://github.com/swp-uebersetzerbau-ss13/fuc.git
[submodule "javabite"]
	path = javabite
	url = https://github.com/swp-uebersetzerbau-ss13/javabite.git
[submodule "common"]
	path = common
	url = https://github.com/swp-uebersetzerbau-ss13/common.git
